/* Trabajaremos creando un fondo Glassmorphism */
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(105deg, #ff6ec4, #7873f5, #4adede);
    font-family: 'Poppings', sans-serif;
}

/* Contenedor de vidrio */
.calculadora{
    width: 350px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.15);

    border: 2px solid rgba(255, 255, 255, 0.3);
    border-radius: 2rem;
    padding: 2rem;
    box-shadow: 0 16px 64px rgba(0, 0, 0, 0.2);
}
.calculadora:hover{
    box-shadow: 0 25px 50px rgba(255, 213, 114, 0.9);
    transition: ease 0.5s;
}
/* Animacion de entrada */
.calculadora{
    animation: aparecer 0.8s ease;
}
@keyframes aparecer{
   from{
    opacity: 0;
    transform: scale(0.8);
   }
   to{
    opacity: 1;
    transform: scale(1);
   }
}
/* Grid de Botones */
.botones{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

/* Estilo de botones */
button{
    padding: 1.5rem;
    border: none;
    border-radius: 1rem;
    background: rgba(255, 255, 255, 0.25);
    color: white;
    font-size: 2rem;
    cursor: pointer;
    backdrop-filter: blur(5px);
    transition: 
    transform 0.2s,
    background 0.2s,
    box-shadow 0.2s;
}

#igual{
    background-color: #00ffa6;
    color: #222;
    font-weight: bold;
}
/* Animacion suave */
button:hover{
    background: rgba(255, 255, 255, 0.5);
    transform: scale(1.05);
    transition: ease-in-out 0.5s
}
/* Display de la Calculadora */
.display{
    background: rgba(0,0,0,0.2);
    color: white;
    font-size: 2rem;
    text-align: right;
    padding: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    border-radius: 1.7rem;
}